body{
    background-color: black;
    cursor: url(fork.png), auto;
}
div{
    position: relative;
    font-size: 2rem;
    letter-spacing: 3px;
    line-height: 50px;
    text-transform: uppercase;
    float: left;
    top: 45px;
    padding-left: 20px;
}
.a1{
    color:transparent ;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}
.a11{
    position: absolute;
    left: 0%;
    width: 0;
    padding-left: 20px;
    color: #ff1a1a;
    overflow: hidden;
    border-right: 5px solid #ff1a1a;
    transition: 2s ease-in-out; 
}
div:hover .a11{
    width: 95%;
    filter: drop-shadow(0 0 0 #1af7ff);
    padding-left: 20px;

}
a{
    text-decoration: none;
    cursor: url(fork.png), auto;
}
.bk{
    position: fixed;    
    right: 0;
    top:50px;
}
